body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 20px;
  background-color: #809076;
  color: #105666;
  margin: 0px;
  overflow-x: hidden;
}

.active {
  background-color: #3eb94982;
  color: white;
  border-radius: 10px;
}

.top-nav-bar {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0;
  background: #284139;
}
.top-nav-bar a {
  text-decoration: none;
  display: block;
  padding: 20px 80px 20px;
  color: white;
  font-size: 25px;
}
.top-nav-bar a:hover {
  background: #886830;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  background-color: salmon;
  display: flex;
  justify-content: center;
}

ul li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: green;
  border-radius: 10px;
}

.main-title-h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  max-width: 500px;
  width: 90%;
  height: 2%; /* This is an example, remove later*/
  margin: 15px auto;
  padding: 10px;
  background-color: #105666;
  color: #f7f4d5;
  text-align: center;
  border: 10px solid;
  border-radius: 20px;
}

.intro {
  margin-bottom: 0px;
  margin-top: 60px;
  padding: 10px;
  color: #284139;
  background-color: #52cca6;
  text-align: center;
}

.about-myself {
  margin: 15px auto;
  padding: 10px;
  color: #284139;
  background-color: #105666;
  color: #f7f4d5;
  text-align: center;
}

h2,
h3,
h4 {
  font-weight: bold;
  font-size: 32px;
}

h5 {
  font-weight: bold;
  font-size: 32px;
}

.bear-text {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 0px;
}

.bear-text p {
  max-width: 700px;
  line-height: 1.6;
  float: right;
  width: 50%;
}

.bear-container {
  padding: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.h2-grizzly {
  margin: 0 0 10px 40px;
  position: relative;
  bottom: -20px;
  left: 85px;
}

.caribou-text {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 0px;
}

.caribou-text p {
  max-width: 700px;
  line-height: 1.6;
  float: right;
  width: 50%;
}

.caribou-container {
  padding: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.h3-caribou {
  margin: 0 0 10px 40px;
  position: relative;
  bottom: -10px;
  left: 120px;
}

.cougar-text {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 0px;
}

.cougar-text p {
  max-width: 700px;
  line-height: 1.6;
  float: right;
  width: 50%;
}

.cougar-container {
  padding: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.h4-cougar {
  margin: 0 0 10px 40px;
  position: relative;
  bottom: -5px;
  left: 130px;
}

.bumblebee-text {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-top: 0px;
}

.bumblebee-text p {
  max-width: 700px;
  line-height: 1.6;
  float: right;
  width: 50%;
}

.bumblebee-container {
  padding: 20px;
  margin-bottom: 0px;
  border-radius: 10px;
}

.h5-bumblebee {
  margin: 0 0 10px 40px;
  position: relative;
  bottom: -10px;
  left: 90px;
}

section {
  background-color: #f7f4d5;
}

li {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  color: #105666;
}

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
  color: #105666;
}
