body {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 20px;
  background-color: #809076;
  color: #105666;
  margin: 0px;
  overflow-x: hidden;
}

.active {
  background-color: #3eb94982;
  color: white;
  border-radius: 10px;
}

.top-nav-bar {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0;
  background: #284139;
}
.top-nav-bar a {
  text-decoration: none;
  display: block;
  padding: 20px 80px 20px;
  color: white;
  font-size: 25px;
}
.top-nav-bar a:hover {
  background: rgb(81, 178, 69);
  border-radius: 10px;
}

.nav-bar-2 {
  list-style-type: none;
  margin: 0;
  background-color: rgb(81, 178, 69);
  display: flex;
  justify-content: center;
}

.nav-bar-2 a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar-2 a:hover {
  background-color: green;
  border-radius: 10px;
}

.main-title-background {
  background-image: url("images/congruent_pentagon.webp");
  background-color: #0d5c73;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0;
}

.main-title-h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  max-width: 500px;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  background-color: #105666;
  color: #f7f4d5;
  border: 8px solid;
  border-radius: 20px;
  border-color: rgb(55, 164, 169);
}

.welcome-banner {
  width: 100%;
  padding: 20px 0;
  background-color: #58d1b0;
}

.welcome-content {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #284139;
  background-color: #58d1b0;
}

.welcome-content p {
  line-height: 1.5;
  font-size: 1.9rem;
}

.about-myself {
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  color: #284139;
  background-color: #105666;
  color: #f7f4d5;
}

.about-banner {
  width: 100%;
  padding: 20px 0;
  background-color: #58d1b0;
}

.about-intro {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #284139;
  background-color: #58d1b0;
}

.about-content p {
  line-height: 1.5;
  font-size: 1.9rem;
}

h2,
h3,
h4 {
  font-weight: bold;
  font-size: 32px;
}

h5 {
  font-weight: bold;
  font-size: 32px;
}

.bear-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.bear-layout img {
  border-radius: 10px;
}

.bear-layout p {
  max-width: 700px;
  line-height: 1.4;
  flex: 1;
}

.bear-container {
  padding: 30px;
  margin-bottom: 30x;
  max-width: 1200px;
  border-radius: 12px;
}

.h2-grizzly {
  margin-bottom: 20px;
  margin-left: 130px;
  color: #0b5c74;
}

.caribou-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.caribou-layout img {
  border-radius: 10px;
}

.caribou-layout p {
  max-width: 700px;
  line-height: 1.4;
  flex: 1;
}

.caribou-container {
  padding: 30px;
  margin-bottom: 30x;
  max-width: 1200px;
  border-radius: 12px;
}

.h3-caribou {
  margin-bottom: 20px;
  margin-left: 155px;
  color: #0b5c74;
}

.cougar-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.cougar-layout img {
  border-radius: 10px;
}

.cougar-layout p {
  max-width: 700px;
  line-height: 1.4;
  flex: 1;
}

.cougar-container {
  padding: 30px;
  margin-bottom: 30x;
  max-width: 1200px;
  border-radius: 12px;
}

.h4-cougar {
  margin-bottom: 20px;
  margin-left: 165px;
  color: #0b5c74;
}

.bumblebee-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.bumblebee-layout img {
  border-radius: 10px;
}

.bumblebee-layout p {
  max-width: 700px;
  line-height: 1.4;
  flex: 1;
}

.bumblebee-container {
  padding: 30px;
  margin-bottom: 30x;
  max-width: 1200px;
  border-radius: 12px;
}

.h5-bumblebee {
  margin-bottom: 20px;
  margin-left: 130px;
  color: #0b5c74;
}

section {
  background-color: #f7f4d5;
}

li {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  color: #105666;
}

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
  color: #105666;
}

.gray-container {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 40px auto;
  padding: 20px;
}

.gray-layout img {
  border-radius: 12px;
}

.nav-interests-pets {
  list-style-type: none;
  margin: 0;
  background-color: rgb(81, 178, 69);
  display: flex;
  justify-content: center;
}

.nav-interests-pets a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-interests-pets a:hover {
  background-color: green;
  border-radius: 10px;
}
