body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  background-color: #809076;
  color: #105666;
  margin: 0px 30px 10px;
}

.active {
  background-color: #3eb94982;
  color: white;
  border-radius: 10px;
}

.top-nav-bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  background: #284139;
}
.top-nav-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 20px 80px 20px;
  color: white;
  font-size: 25px;
}
.top-nav-bar a:hover {
  background: #886830;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: salmon;
  display: flex;
  justify-content: center;
}

ul li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: green;
}

p {
  float: right;
  width: 50%;
}

header h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 50px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #105666;
  max-width: 800px;
  color: #f7f4d5;
  text-align: center;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
}

.animal-content p {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  padding: 20px;
  max-width: 700px;
  line-height: 1.6;
}

.bear-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
}

.h1-grizzly {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.caribou-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
}

.cougar-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
}

.bumblebee-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 15px;
}

section {
  background-color: #f7f4d5;
}

li {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  color: #105666;
}

p {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
  color: #105666;
}

.test-text {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 400;
  width: auto;
  font-style: bold;
  text-align: center;
  line-height: 1.5;
  color: rgb(28, 46, 34);
  text-decoration: underline;
}

.test-text:hover {
  background: red;
}
